In [7]:
#학번이름 출력
print(202010902) #학번
print('이한솔')#이름

202010902
이한솔

In [8]:
#연산자 오버로딩 예시
print(12+37) # +는 두 정수를 더하는 연산자
print('python'+'is exciting')#+는 두 문자열을 접합하는 연산자

49
pythonis exciting

In [12]:
#라이브러리 불러오기
import random #random 이라는 라이브러리를 불러옴

#정수 난수 생성
a= random.randint(10,20)
b= random.randint(10,20)

#덧셈을 하고 결과를 출력
c=a+b
print(a,b,c)

14 19 33